/* Mobile  */
@media (max-width: 739px) {
     .header,
     .banner-info .name > h1 {
          display: none;
     }

     .post-comment {
          flex-direction: column;
     }

     .post-comment .comment-title {
          width: 100%;
     }
}
/* Mobile & Tablet  */
@media (max-width: 1023px) {
     .m-col-full {
          width: 100%;
     }

     .content {
          display: block;
     }
}
/* Pc  */
