/* Reset CSS */
* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}


html {
     font-family:'Oswald','Open Sans', sans-serif;
}

hr {
     margin: 20px 0;
}

 /* Dùng Chung  */

.clear {
     clear: both;
}

.col-full {
     width: 100%;
}
.col-half {
     width: 50%;
}
.col-10 {
     width: 83.33333%;
}
.col-8 {
     width: 66.66666%;
}

.col-4 {
     width: 33.33333%;
}
.col-2 {
     width: 16.66666%;
}
.col-1 {
     width: 8.33333%;
}

/* ----- Header ----- */
.header {
     width: 100%;
     background: #000;
     display: flex;
     justify-content: space-between
}

/* Social List  */
.header .social-list {
     display: flex;

}

.header .social-item {
     display: block;
     list-style: none;
}

.social-item a {
     padding: 8px 16px;
     color: #fff;
     display: block;
     font-size: 15px;
     width: 100%;
}

.social-item a:hover,
.header-search a:hover{
     background-color: #cccccc;
     color: #000;
     opacity: 0.9;
}

/* Search */
.header-search a {
     padding: 8px 16px;
     display: block;
     font-size: 15px;
     color: #fff;
}


/* ----- Banner -----  */
.banner {
     max-width: 1600px;
     margin: 0 auto;
     background-color: #fff;
}

/* Slogan  */
.banner-slogan {
     padding: 48px 16px;
     text-align: center;
}

.banner-slogan h3 {
     margin: 10px 0;
     font-size: 48px;
}

.banner-slogan p {
     margin: 10px 0;
     font-size: 16px;
}

.banner-slogan p span {
     background-color: #000;
     color: #fff;
     padding: 0 8px;
}

/* Info  */
.banner-info {
     position: relative;
}

.banner-info img {
     display: block;
     max-width: 100%;
}

.banner-info .name {
     position: absolute;
     color: #fff;
     padding: 12px 24px;
     top: 37%;
}

.banner-info .name p {
     font-size: 36px;
     margin: 10px 0;
}

.banner-info .name h1 {
     font-size: 64px;
     margin: 10px 0;

}

.banner-info .name button {
     font-size: 18px;
     padding: 12px 24px;
     border: none;
     border-radius: 2px;
     background-color: #fff;
     opacity: 0.6;
     font-family:'Oswald';
}

.banner-info .name button:hover {
     background-color: #ccc;
     cursor: pointer;
}


/* ----- Content ----- */
.content {
     max-width: 1600px;
     margin: 0 auto;
     background-color: #f1f1f1;
     border: 1px solid #ccc;
     padding: 8px 16px;
     display: flex;
}

/* Blog  */

.post {
     background-color: #fff;
     margin: 16px;
     padding: 12px 24px;
}

/* Post Title  */
.post-title {
     text-align: center;
}

.post-title h1 {
     margin: 10px 0;
     font-size: 24px;
}

.post-title p {
     margin: 10px 0;
     font-size: 18px;
}
.post-title p span {
     color: #A4A4A4;
}
.post > img {
     width: 100%;
     padding: 16px 0;
} 

/* Post Description  */
.post-desc {
     font-family: "Open Sans";
     text-align: justify;
     line-height: 1.8;
     font-size: 15px;
}

.post-desc p {
     margin: 16px 0;
}

/* Post Activities  */
.post-activities {
     margin: 16px 0;
     display: flex;
     justify-content: space-between;
}

.post-activities .like {
     padding: 8px 16px;
     background-color: #fff;
     border: 1px solid #ccc;
     font-size: 15px;
     font-family: "Open Sans";
     cursor: pointer;

}

.post-activities .like i {
     margin-right: 4px;
}

.post-activities .replies {
     font-size: 15px;
     padding: 8px 16px;
     font-family: "Open Sans";
     background-color: #000;
     border: none;
     color: #fff;
     font-weight: bolder;
     cursor: pointer;
}

.post-activities .replies span {
     color: #000;
     background-color: #fff;
     padding: 0 8px;
}

/* Post Comment  */

.post-comment {
     margin-bottom: 16px;
     display: flex;
     text-align: justify;

}



.comment-img img {
     width: 90px;
}

.comment-name {
     display: flex;
     padding: 4px;

}


.comment-name p {
     font-size: 20px;
}

.comment-name p span {
     font-size: 15px;
     color: #A4A4A4;
}

.comment-title > span {
     font-size: 15px;
     font-family: "Open Sans";
     margin: 16px 0;
     display: block;
}

/* ----- Menu -----  */
.menu hr {
     border: none;
}

/* My Name  */
.my-name {
     margin:16px;
}

.my-name img {
     width: 100%;
     filter: grayscale(75%);
     vertical-align: middle;
}

.my-name-desc {
     background-color: #000;
     color: #fff;
     padding:1px 16px;
}

.my-name-desc > h1 {
     font-size: 20px;
     margin: 10px 0;
}

.my-name-desc > p {
     font-size: 15px;
     font-family: "Open Sans";
     margin: 10px 0;
}

/* Popular  */
.popular {
     margin: 16px;
}

.popular-heading,
.advertise-heading,
.tags-heading,
.inspiration-heading,
.follow-heading,
.subscribe-heading  {
     font-size: 20px;
     padding: 18px 16px;
     color: #fff;
     background-color: #000;
}

.popular-list {
     list-style: none;
     display: flex;
     flex-direction: column;
}

.popular-item {
     background-color: #fff;
     padding: 16px;
     border-bottom: 1px solid #ddd;
     display: flex;
     font-family: "Open Sans";

}

.popular-item > img {
     width: 50px;
     margin-right: 16px;
}

.item-info > span {
     font-size: 18px;
}

.item-info > p {
     font-size: 15px;
}

.popular-list .popular-item:nth-child(4) > img {
     filter: sepia(75%);
}

/* Advertise  */
.advertise {
     margin: 16px;
}

.advertise-info {
     background-color: #fff;
     padding: 16px;
     align-items: center;
}

.advertise-info > span {
     background-color: #F1F1F1;
     padding: 0 16px;
     display: block;
     height: 200px;
     position: relative;;
}

.advertise-info > span > p {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     font-family: "Open Sans";
     font-size: 15px;
}

/* Tags  */
.tags {
     margin: 16px;
}


.tags-info {
     background-color: #fff;
     padding: 16px;
}

.tags-info > span {
     background-color: #f1f1f1;
     padding: 0 8px;
     margin-bottom: 10px;
     display: inline-block;
     font-size: 15px;
     font-family: "Open Sans";

}

.tags-info > span:first-child {
     background-color: #000;
     color: #fff;
}

/* Inspiration  */
.inspiration {
     margin: 16px;
}


.inspiration-info {
     padding: 8px;
     display: flex;
     background-color: #fff;
}

.inspiration-info img {
     padding: 8px;
     display: block;
     width: 100%;
}

/* Follow  */
.follow {
     margin: 16px;
}



.follow-info {
     padding:8px 16px;
     background-color: #fff;
     font-size: 24px;
}

.follow-info i {
     margin: 0 2px;
}

.follow-info i:hover {
     opacity: 0.6;
}

/* Subscribe  */
.subscribe {
     margin: 16px;
}


.subscribe-info {
     padding: 16px;
     background-color: #fff;
}
.subscribe-info > p {
     font-family: "Open Sans";
     font-size: 15px;
}
.subscribe-info .sub-email {
     width: 100%;
     padding: 8px;
     border: 1px solid #ccc;
     margin: 16px 0;
}

.subscribe-info button {
     width: 100%;
     border: none;
     font-family: "Open Sans";
     font-size: 15px;
     padding: 8px 0;
     background-color: #F44336;
     color: #fff;
}

/* ----- Footer -----  */
.footer {
     width: 100%;
     background-color: #616161;
     padding: 32px;
}

.footer .to-top {
     padding:12px 24px;
     background-color: #000;
     color: #fff;
     text-decoration: none;
     font-family: "Open Sans";
     font-size: 15px;
     margin-bottom: 16px;
     display: inline-block;
}

.footer .to-top i {
     margin-right: 16px;
}

.footer > p {
     margin: 16px 0;
     display: block;
     color: #fff;
     font-family: "Open Sans";
     font-size: 15px;
}

.footer > p > a {
     color: #fff;
}